<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ba Bula</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto+Slab:wght@300;400&display=swap"
        rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <section class="menu">
            <div class="bars">
                <i class="fas fa-bars"></i>
            </div>
            <div class="name">
                <p>ba</p>
                <p class="bula">bula</p>
            </div>
            <div class="icon-menu">
               <a href="Login.html"><i class="fas fa-user-alt"></i></a>
                <a href="carrito.html"><i class="fas fa-shopping-cart"></i></a>
            </div>
        </section>
        <div class="logo">
            <img src="/images/babula.jpg" alt="Logo ba bula">
        </div>
        <h1>Ba Bula</h1>
        <h2>SABORES EURO-ASIÁTICOS</h2>
    </header>
    <main>
        <section class="main">
            <article class="box-experience">
                <i class="fas fa-star-of-life"></i>
                <h4>LA EXPERIENCIA</h4>
                <p> Ba Bula es un experimento único donde ocurre un acercamiento de la cultura Rusa hacia el paladar</p>
            </article>

            <h2 class="recipes">Nuestros platos nativos</h2>

            <section class="products">
                <article class="product">
                    <img class="image1" src="/images/borsch.jpeg" alt="product 1">
                    <section class="recipes-description">
                        <p> El "Borsch" es la sopa tradicional de verduras donde la remolacha es la gran protagonista.
                            Este plato incluye cebolla, tomate, repollo, patatas y
                            porotosLa historia de este plato va ligada a
                            la evolución de las recetas de caldos y por extensión a las sopas acompañadas por hierbas o
                            plantas que se van añadiendo al agua para conseguir una combinación agradable y nutritiva.

                        </p>
                    </section>
                </article>
                <article class="product">
                    <img class="image2" src="/images/golupsi3.jpeg" alt="product 2">
                    <section class="recipes-description">
                        <p>Los "Golubtsy" aparecieron en el siglo XVIII, una época en la que la gastronomía francesa
                            empezaba a desatar pasiones en San Petersburgo. El nombre de este plato viene de la
                            costumbre francesa de cocinar palomas envueltas en hojas de repollo. Golub significa paloma
                            en ruso. Este plato es elaborado a base de hojas de repollo rellenas de carne picada y
                            arroz, ahogados en salsa de tomates.</p>
                    </section>
                </article>
                <article class="product">
                    <img class="image3" src="/images/pilmeni.jpeg" alt="product 3">
                    <section class="recipes-description">
                        <p>"Pilmeni" también conocidos como "Capeletis" es una pasta rellena de carne con cebolla, la
                            cual se acompaña con salsa de tomate cruda, ajo y vinagre.
                            Llegaron a Rusia con las tribus nómadas fino-ugrias.
                            La misma palabra “pelmén” literalmente significa "oreja de masa" en la
                            lengua fino-ugria. En realidad, tienen cierta semejanza con la forma de una oreja.
                            Se cree que la difusión de este plato comenzó a fines del siglo XIV.</p>
                    </section>
                </article>
                <article class="product">
                    <img class="image4" src="/images/seliodka.jpeg" alt="product 4">
                    <section class="recipes-description">
                        <p>"Selyodka" que en español significa "arenque bajo abrigo de pieles" es un plato sumamente
                            delicioso. Consiste en una especie de pastel frío que consta de capas de pescado, patatas,
                            zanahoria y remolacha.
                            Fue inventada a principios del signo XX en medio de la Guerra Civil.
                            La remolacha marrón se asociaba con la bandera roja, y las papas y el arenque
                            en aquel momento eran considerados los principales entremeses de obreros y campesinos.</p>
                    </section>
                </article>
                <article class="product">
                    <img class="image5" src="/images/torta-de-miel.jpeg" alt="product 5">
                    <section class="recipes-description">
                        <p> "Medovik" o Tota de Miel fue creada en la década de 1820 por un Chef personal del Zar ruso
                            Alejandro I. Este auténtico pastel de miel se elabora con bizcocho y un relleno de crema.
                            Los ingredientes que se pueden encontrar en el relleno es la leche condensada cocinada
                            durante muchas horas. Además también es habitual que contenga nueces.</p>
                    </section>
                </article>
            </section>
            <article class="access-menu">
                <a class="clean" href="productos.html"><p>Acceder al menú</p></a> 
            </article>
        </section>
    </main>
    <footer>
        <div class="foot">
            <p>BA BULA</p>
            <p>SABORES EURO-ASIÁTICOS.</p>
            <div class="icons-footer">
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram-square"></i>
            </div>
        </div>
    </footer>
</body>
</html>