<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ba Bula</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto+Slab:wght@300;400&display=swap"
        rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <section class="menu">
            <div class="bars">
                <i class="fas fa-bars"></i>
            </div>
            <div class="name">
                <p>ba</p>
                <p class="bula">bula</p>
            </div>
            <div class="icon-menu">
                <i class="fas fa-user-alt"></i>
                <i class="fas fa-shopping-cart"></i>
            </div>
        </section>
        <div class="logo">
            <img src="/images/babula.jpg" alt="Logo ba bula">
        </div>
        <h3>SABORES EURO-ASIÁTICOS</h3>
    </header>
    <main>
        <section class="main">
            <article class="box-experience">
                <i class="fas fa-star-of-life"></i>
                <h4>LA EXPERIENCIA</h4>
                <p> Ba Bula es un experimento único donde ocurre un acercamiento de la cultura Rusa hacia el paladar</p>
            </article>

            <h4 class="recipes">Nuestros platos nativos</h4>

            <section class="product">
                <article class="product1">
                    <img src="/images/borsch.jpeg" alt="product 1">
                    <section class="recipes-description">
                        <p>El Borsch es una sopa de verduras donde la remolacha es la gran protagonista. Este plato
                            incluye cebolla, tomate, repollo, patatas y porotos.</p>
                    </section>
                </article>
                <article class="product2">
                    <img src="/images/golupsi3.jpeg" alt="product 2">
                    <section class="recipes-description">
                        <p>Los golubtsy aparecieron en el siglo XVIII, una época en la que la gastronomía francesa
                            empezaba a desatar pasiones en San Petersburgo. El nombre de este plato viene de la
                            costumbre francesa de cocinar palomas envueltas en hojas de repollo. Golub significa paloma
                            en ruso. Este plato es elaborado a base de hojas de repollo rellenas de carne picada y
                            arroz, ahogados en salsa de tomates.</p>
                    </section>
                </article>
                <article class="product3">
                    <img src="/images/pilmeni.jpeg" alt="product 3">
                    <section class="recipes-description">
                        <p>Pilmeni, también conocidos como "Capeletis" es una pasta rellena de carne con cebolla, la
                            cual se acompaña con salsa de tomate cruda, ajo y vinagre</p>
                    </section>
                </article>
                <article class="product4">
                    <img src="/images/seliodka.jpeg" alt="product 4">
                    <section class="recipes-description">
                        <p>Selyodka, que en español significa "arenque bajo abrigo de pieles" es un plato sumamente
                            delicioso. Consiste en una especie de pastel frío que consta de capas de pescado, patatas,
                            zanahoria y remolacha</p>
                    </section>
                </article>
                <article class="product5">
                    <img src="/images/torta-de-miel.jpeg" alt="product 5">
                    <section class="recipes-description">
                        <p> Medovik o "Tota de Miel" fue creada en la década de 1820 por un Chef personal del Zar ruso
                            Alejandro I. Este auténtico pastel de miel se elabora con bizcocho y un relleno de crema.
                            Los ingredientes que se pueden encontrar en el relleno es la leche condensada cocinada
                            durante muchas horas. Además también es habitual que contenga nueces.</p>
                    </section>
                </article>
            </section>
        </section>
    </main>
    <footer>
        <div class="foot">
            <p>BA BULA</p>
            <p>SABORES EURO-ASIÁTICOS.</p>
            <div class="icons-footer">
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram-square"></i>
            </div>
        </div>
    </footer>
</body>

</html>