.product-detail {
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
}

.product-price {
    font-size: 1.6em;
    text-align: left;
}

.product-image-detail {
    width: 100%;
    overflow: hidden;
    display: flex;
    border-radius: 30px;
}

.product-name {
    color: var(--naranja);
    font-size: 25px;
    font-weight: bold;
}

.image-description {
    display: flex;
    max-width: 400px;
    margin-bottom: 20px;
}

.recipes-description {
    width: 100%;
    margin: unset;
}

.buttons-detail {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 40px;
}


@media (min-width: 768px) {

    .product-detail {
        display: flex;
        column-gap: 30px;
        align-items: flex-start;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
    }

    .product-image-detail {
        width: unset;
        display: flex;
        border-radius: 30px;
    }

    .image-description {
        display: flex;
        width: 300px;
    }

    .buttons-detail {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        margin-bottom: 40px;
    }
}