:root {
    --blanco: white;
    --azul-home: #2449A8;
    --crema-home: #F8E8DA;
    --naranja: #CA841B;
    --negro: black;
    --gris-oscuro: #525252;
}

* {
    margin: 0;
    font-family: 'Roboto Slab', serif;
    padding: auto;

}

/* Menu de la página */

.menu {
    display: flex;
    background-color: var(--crema-home);
    font-size: 20px;
    margin: auto;
    align-items: center;
    justify-content: space-between;

}

.name {
    color: var(--azul-home);
    padding: 7px;
    font-weight: bold;
}

.name a {
    color: var(--azul-home);
    padding: 7px;
    text-decoration: none;
}

div.menu-left {
    display: flex;
}

div.menu-right {
    display: flex;
    align-items: center;
}

.menu-right a {
    text-decoration: none;
}


body header div i.fas {
    font-size: 30px;
    margin: 1rem;
}

div.bars {
    background-color: var(--azul-home);
}

.fa-bars {
    color: white;
}

.fa-user-alt,
.fa-shopping-cart {
    color: var(--azul-home);
    display: flex;
    justify-content: flex-end;
}

/* Productos */

main section article section p {
    color: var(--azul-home);
    padding: 10px;
    margin-left: 1rem;
}

.recipes-description {
    border: solid, 4px, var(--gris-oscuro);

}

.product-description {
    color: var(--gris-oscuro);
}

/* Producto 1 */

img.product-image {
    max-width: 20rem;
    border-radius: 50px;
}

img.product-image {
    padding: 20px;

}


/* Titulo de productos */

p.product-name {
    padding: 2rem;
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    color: var(--naranja);
}

.featured-products .product-image {
    width: 100%;
    aspect-ratio: 1;
    overflow: hidden;
    display: flex;
    border-radius: 30px;

}

/* Precio & Agregar al carrito */

.price {
    font-size: 25px;
    color: var(--naranja);
    font-weight: bold;
}

.price-sold {
    text-align: right;
    padding: 30px;

}

/* Color boton agregar al carrito*/

.button-color {
    background-color: var(--naranja);
    border-radius: 15px;
    padding: 8px;
}

.button-color a {
    text-decoration: none;
    color: var(--blanco);
}

/* Footer */

.foot {
    text-align: center;
    color: var(--azul-home);
    background-color: var(--crema-home);
    padding: 10px;
}

.fa-twitter,
.fa-instagram-square {
    font-size: 2rem;
}

.icons-footer {
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.recipes {
    text-align: center;
    color: var(--azul-home);
    font-size: 16px;
    ;
}

#galeria {
    display: flex;
}

#galeria img {
    width: 85px;
    height: 85px;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    opacity: 85%;
}

@media (min-width: 480px) {

    /* Productos destacados */

    .product-image .recipes-description {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
    }



}