.recipes-description {
    margin-top: 20px;
    width: auto;
    display: flex;
    border: solid, 4px, var(--naranja);
}

@media (min-width: 768px) {
    .product-image-container{float: left;}
    
    .products article {
        width: 44%;
        gap: 20px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
        align-content: flex-start;
    }

    .product-image {
        float: left;
        width: 300px;
        aspect-ratio: 1;
        display: flex;
        border-radius: 30px;
        object-fit: cover;
        overflow: unset;
    }
}