:root {
    --blanco: white;
    --azul-home: #2449A8;
    --crema-home: #F8E8DA;
    --naranja: #CA841B;
    --negro: black;
    --gris-oscuro: #525252;
}
* {
    margin: 0;
    font-family: 'Roboto Slab', serif;
    padding: auto;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}


/* Body */

body {
    background: url('../images/background-body.jpg');
    background-repeat: repeat;
    background-size: cover;
}
/* Menu de la página */

.menu {
    overflow: hidden;
    position: fixed;
    z-index: 999;
    width: 100%;
    display: flex;
    background-color: var(--crema-home);
    font-size: 26px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgb(100 100 111 / 20%) -1px 5px 4px 0px;
}

.name {
    font-size: 22px;
    color: var(--azul-home);
    padding: 7px;
    font-weight: bold;
    line-height: 23px;
}

.name a {
    color: var(--azul-home);
    padding: 7px;

    text-decoration: none;
}



div.menu-left {
    width: 50%;
    position: relative;
    display: flex;
    align-items: center;
}

div.menu-right {
    display: flex;
    align-items: center;
    margin-right: 14px;
}

.menu-right a {
    text-decoration: none;
    padding: 12px;
}

.menu-right i {
    color: var(--azul-home);
    display: flex;
    justify-content: flex-end;

}

p.text-button-menu {
    background: var(--azul-home);
    font-size: 0.5em;
    color: white;
    padding: 6px 10px;
    border-radius: 10px;
}


div.bars {
    background-color: var(--azul-home);
    padding: 20px;
}

.fa-bars {
    color: white;
}


/* Banner con logo */

.banner {
    width: 90%;
    margin: auto;
    padding-top: 82px;
    display: flex;
    justify-content: center;
}

.banner-logo {
    width: 150px;
    padding: 40px 15px;
    text-align: center;
}

.banner-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 40px 15px;
   
}

.banner-text h1 {
    font-size: 40px;
    color: var(--azul-home);
}

.banner-text h2 {
    font-size: 14px;
    color: var(--azul-home);
}



/*Lista de productos general*/

.all-products {
    margin-top: 40px;
}

.all-products .product-image {
    width: 30%;
    aspect-ratio: 1;
    overflow: hidden;
    display: flex;
    border-radius: 20px;
}

.all-products img {
    object-fit: cover;
    width: 100%;
}

.products-list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    margin: 40px 0;
}

.products-list article {
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
}

.products-list .recipes-description {
    margin: 0;
    width: 60%;
    display: flex;
    border: solid, 4px, var(--naranja);
    flex-direction: column;
    color: var(--naranja);
    font-weight: bold;
}

.products-list p.product-description {
    margin: 6px 0 20px;
    color: var(--gris-oscuro);
    font-weight: 500;
    line-height: 1.6em;
    text-align: justify;
    hyphens: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 129px;
}

.product-name{
    font-size: 25px;
}


.see-more {
    width: 100px;
    background-color: var(--naranja);
    border-radius: 15px;
    padding: 9px;
}

.see-more p {
    text-align: center;
    color: white;
    text-decoration: none;
}

/*Detalle de producto*/


section.buttons-product {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}


.add-to-cart,
.edit-product {
    width: 40%;
    background-color: var(--naranja);
    border-radius: 15px;
    padding: 9px;
    margin: 13px 0;
}

.add-to-cart p,
.edit-product p {
    text-align: center;
    color: white;
}

.foot {
    text-align: center;
    color: var(--azul-home);
    background-color: var(--crema-home);
    padding: 24px;
    font-weight: bold;
}

.fa-twitter,
.fa-instagram-square {
    margin: 0 8px;
    font-size: 2rem;
}

.icons-footer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.recipes {
    text-align: center;
    font-size: 2rem;
    color: var(--gris-oscuro);
}



@media (min-width: 480px) {

    .products-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        column-gap: 32px;
        justify-content: center;
    }

    .products-list article {
        width: 65%;
    }

    .products-list.recipes-description {
        margin: 20px 0;
    }

    .clean {
        width: 50%;
    }
}