/* Menu de la página */

.menu {
    overflow: hidden;
    position: fixed;
    z-index: 999;
    width: 100%;
    display: flex;
    background-color: var(--crema-home);
    font-size: 26px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgb(100 100 111 / 20%) -1px 5px 4px 0px;
}

.name {
    font-size: 22px;
    color: var(--azul-home);
    padding: 7px;
    font-weight: bold;
    line-height: 23px;
}

.name a {
    color: var(--azul-home);
    padding: 7px;

    text-decoration: none;
}


div.menu-left {
    width: 50%;
    position: relative;
    display: flex;
    align-items: center;
}

div.menu-right {
    display: flex;
    align-items: center;
    margin-right: 14px;
    gap: 22px;
    justify-content: space-evenly;
}

.menu-right a {
    font-size: 0.6em;
    text-decoration: none;
    color: var(--azul-home);
    font-weight: bold;
}


.menu-right i {
    color: var(--azul-home);
    display: flex;
    justify-content: flex-end;
    font-size: 1.5em;
}

.menu-right i:hover,
.menu-right a:hover {
    text-decoration: none;
    color: var(--naranja);
}

div.bars {
    background-color: var(--azul-home);
    padding: 20px;
}

.fa-bars {
    color: white;
}

a.avatar\&text {
    display: flex;
    align-items: center;
    gap: 8px;
}

body {
    margin: 0;
    padding: 0;
    background: url(/images/site/img7.jpg) no-repeat center top;
    background-size: cover;
    font-family: 'Roboto Slab', serif;
    height: 100vh;
}

.login-box {
    width: 320px;
    height: 720px;
    background-color: rgba(0, 0, 0, 0.315);
    color: rgb(255, 255, 255);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 50px;
    border: 3px solid #2449A8;

}

.login-box .Grandma {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    box-shadow: 3px 3px 15px #2449A8;
}

.login-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.login-box field {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}

.login-box input {
    width: 100%;
    margin-bottom: 20px;
    font-size: 1.1rem;
    padding: 5px;
    color: #000000;
    background-color: transparent;
}

.login-box input[type="text"],
.login-box input[type="password"],
.login-box input[type="Email"] {
    border: none;
    border-bottom: 1px solid #2449A8;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.233);
    margin-bottom: 15px;
    height: 40px;
    /*color: #fff;*/
    font-size: 16px;
}


.login-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    color: #fff;
    background: #bb643242;
    font-size: 1, 2rem;
    border-radius: 20px;
    font-family: 'Roboto Slab', serif;

    text-align: center;
}

.submit:hover {
    cursor: pointer;
    background-color: orangered;
}


.login-box a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: rgb(255, 255, 255);
}

.login-box a:hover {
    color: rgb(0, 0, 0);

}

.login-box input[type="checkbox"] {
    width: 15px;
    height: 15px;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
    position: relative;
    top: -1px;


}

.Terminos {

    font-size: 14px;
    font-family: 'Roboto Slab', serif;
    line-height: 1.71;
    letter-spacing: normal;
    color: rgb(255, 255, 255);
}

.login-box a {
    font-size: 14px;
}



.social-icons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 5px;
    margin-top: 25px;
}

.social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    margin-bottom: 25px;
}

.facebook {
    background-color: #385998;
}

.instagram {
    background: linear-gradient(rgb(243, 5, 171), rgb(205, 95, 4), yellow);
}

.twitter {
    background-color: #00ACEE;
}

.google {
    background-color: #CA3224;
}

.linkedin {
    background-color: #0E76AB;
}

input:focus,
input:hover,
input:active {
    outline: none;
}

/* mobile */
@media (max-width: 767px) {}

/* tablet */
@media (min-width: 768px) and (max-width: 990px) {}

/* PC */
@media (min-width: 999px) {}