/* Main */

.seccion-compra {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.caja-imagen {
    margin: 15px;
    display: flex;
}

.caja-texto {
    margin-top: 40px;
    margin-left: 25px;
    }

.alinear-items {
    display: flex;
    color: var(--azul-home);
    margin: auto;
    padding: auto;
}

div .alinear-items i {

    color: var(--azul-home);
    margin: 5px;
}

div .alinear-items p {
    color: black;
    width: 20px;
    height: 20px;
    border: 3px solid var(--azul-home);
    text-align: center;
}


.separated {
    margin-left: 10px;
}

.img-buy {
    width: 100%;
    overflow: hidden;
    border-radius: 30px;
    margin-bottom: 20px;
    height: inherit;
    aspect-ratio: 1;
    display: flex;
    object-fit: cover;
}

.buttons_buy {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buttons_buy button {
    width: 110px;
    background-color: var(--naranja);
    border-radius: 15px;
    padding: 9px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: none;
    margin: 1rem;
    text-align: center;
}

.price {
    margin-top: 1.5rem;
    font-size: 18px;
    color: var(--gris-oscuro);
}

p.product-name {
    color: var(--naranja);
    font-size: 25px;
    font-weight: bold;
}

button p {
    color: white;
    font-size: 1rem;
}

main {

    justify-content: center;
}

.finaly-price {
    margin: 4rem 2rem;
}


.recipes {
    text-align: center;
    font-size: 16px;
}


@media (min-width: 480px) {}

@media (min-width: 768px) {


    .buttons_buy {
        flex-direction: row;
    }
}