:root {
    --blanco: white;
    --azul-home: #2449A8;
    --crema-home: #F8E8DA;
    --naranja: #e08c0d;
    --gris-oscuro: #525252;
}

* {
    margin: 0;
    font-family: 'Roboto Slab', serif;
    padding: auto;
}

a {
    text-decoration: none;
}

/* Menu de la página */

.menu {
    overflow: hidden;
    position: fixed;
    z-index: 999;
    width: 100%;
    display: flex;
    background-color: var(--crema-home);
    font-size: 26px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgb(100 100 111 / 20%) -1px 5px 4px 0px;
}

.name {
    font-size: 22px;
    color: var(--azul-home);
    padding: 7px;
    font-weight: bold;
    line-height: 23px;
}

.name a {
    color: var(--azul-home);
    padding: 7px;

    text-decoration: none;



}

/* MENU */

div.menu-left {
    width: 50%;
    position: relative;
    display: flex;
    align-items: center;
}

div.menu-right {
    display: flex;
    align-items: center;
    margin-right: 14px;
}

.menu-right a {
    text-decoration: none;
    padding: 12px;
}


div.bars {
    background-color: var(--azul-home);
    padding: 20px;
}

.fa-bars {
    color: white;
}

.fa-user-alt,
.fa-shopping-cart {
    color: var(--azul-home);
    display: flex;
    justify-content: flex-end;

}

/* Banner con logo */

.banner {
    width: 90%;
    margin: auto;
    padding-top: 82px;
    display: flex;
    justify-content: center;
}

.banner-logo {
    width: 150px;
    padding: 40px 15px;
    text-align: center;
}

.banner-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 40px 15px;
    color: var(--azul-home);
}

.banner-text h1 {
    font-size: 40px;
}

.banner-text h2 {
    font-size: 14px;
}


/* Main */


h2.recipes {
    font-size: 2rem;
    color: var(--gris-oscuro);
}

h3 {
    color: var(--azul-home);
    text-align: center;
    padding: 30px;
    font-weight: bold;
}

main {
    width: 80%;
    margin: 0 auto;
}

main section article h4 {
    font-size: 1.5rem;
    color: white;

}


h4 {
    padding: 10px;
}

.box-experience {
    color: white;
    background-color: var(--azul-home);
    text-align: center;
    padding: 3rem;
    border-radius: 30px;
    margin: auto;
    opacity: 90%;
    text-decoration: none;
}

.fa-star-of-life {
    color: var(--naranja);
    font-size: 2rem;
    text-align: center;
    ;
}

section.images {
    width: 100vw;

}

/* Productos destacados */

main section article {
    transition: transform, 600ms;
}

.featured-products {
    margin-top: 40px;
}

p.product-name {
    color: var(--naranja);
    font-size: 25px;
    font-weight: bold;
}

.recipes-description {
    margin: 24px 0;
    display: flex;
    border: solid, 4px, var(--naranja);
    flex-direction: column;
}

p.product-description {
    margin: 6px 0 20px;
    color: var(--gris-oscuro);
    font-weight: 500;
    line-height: 1.6em;
    text-align: justify;
    hyphens: auto;
}

.products article {
    width: 100%;
    margin: 40px 0;
    flex-direction: column;
    align-items: center;
}

.featured-products .product-image {
    width: 100%;
    aspect-ratio: 1;
    overflow: hidden;
    display: flex;
    border-radius: 30px;
}

.featured-products img {
    object-fit: cover;
    width: 100%;
}

.see-more {
    width: 100px;
    background-color: var(--naranja);
    border-radius: 15px;
    padding: 9px;
}

.see-more p {
    text-align: center;
    color: white;
    text-decoration: none;
}

/* Acceder al menú */

section.access-menu {
    width: 100%;
    margin: 30px 0;
}

.clean{
    width: 100%;
    background-color: var(--azul-home);
    border-radius: 15px;
    margin: auto;
}

.clean p {
    color: white;
    padding: 1rem;
    text-align: center;


}

/* Footer */

.foot {
    text-align: center;
    color: var(--azul-home);
    background-color: var(--crema-home);
    padding: 24px;
    font-weight: bold;
}

.fa-twitter,
.fa-instagram-square {
    margin: 0 8px;
    font-size: 2rem;
}

.icons-footer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.recipes {
    text-align: center;
    font-size: 16px;
}

/* Carrito de compra */
/* .seccion-compra {
    display: flex;
}

.caja-imagen,
.caja-texto {
    margin: 15px;
}

.alinear-items {
    display: flex;
    text-align: center;
    color: var(--azul-home);
    margin: auto;
    padding: auto;

}

div .alinear-items i {

    color: var(--azul-home);
    margin: 5px;
}

div .alinear-items p {
    color: black;
    width: 20px;
    height: 20px;
    border: 3px solid var(--azul-home);
}


.separated {
    margin-left: 10px;
}

.img-compra {
    max-width: 10rem;
    max-width: 10rem;
    border-radius: 50px;
    order: 1;
} */





@media (min-width: 480px) {

/* Productos destacados */

    .products {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
    }

    .products article {
        width: 40%;
    }

    .recipes-description {
        margin: 20px 0;
    }

    .clean{
        width: 50%;
    }
}


@media (min-width: 768px) {


/* Productos destacados */

    .box-experience {
        display: flex;
        gap: 30px;
        align-items: center;
        justify-content: space-evenly;
    }

    .fa-star-of-life {
        order: 1;
    }

    .box-experience h4{
        order: 0;
    }

    .box-experience p{
        order: 2;
    }

    .products article {
        width: 26%;
    }
}