:root {
    --blanco: white;
    --azul-home: #2449a8;
    --crema-home: #f8e8da;
    --naranja: #e08c0d;
    --gris-oscuro: #525252;
}

* {
    margin: 0;
    font-family: "Roboto Slab", serif;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

button {
    display: unset;
    border: none;
    padding: unset;
    margin: unset;
    text-decoration: none;
    background: unset;
    color: unset;
    font-family: unset;
    font-size: unset;
    text-align: unset;
    transition: unset;
    -webkit-appearance: none;
    -moz-appearance: none;
    pointer-events: visible;
    cursor: pointer;
}

/* Body */

body {
    background: url("../images/site/background-body.jpg");
    background-repeat: repeat;
    background-size: cover;
}

/* Header */

.menu {
    overflow: hidden;
    position: fixed;
    z-index: 999;
    width: 100%;
    display: flex;
    background-color: var(--crema-home);
    font-size: 26px;
    margin: auto;
    align-items: center;
    justify-content: center;
    /*space-between*/
    box-shadow: rgb(100 100 111 / 20%) -1px 5px 4px 0px;
}

.name {
    font-size: 22px;
    color: var(--azul-home);
    padding: 7px;
    font-weight: bold;
    line-height: 23px;
    display: none;
    /**/
}

.name a {
    color: var(--azul-home);
    padding: 7px;

    text-decoration: none;
}

.menu-left {
    width: 50%;
    position: relative;
    display: flex;
    align-items: center;
    display: none;
    /**/
}

div.menu-right {
    display: flex;
    align-items: center;
    margin: 20px;
    /*margin-right: 14px;*/
    gap: 22px;
    justify-content: space-evenly;
}

.menu-right a {
    font-size: 0.6em;
    text-decoration: none;
    color: var(--azul-home);
    font-weight: bold;
}

.menu-right i {
    color: var(--azul-home);
    display: flex;
    justify-content: flex-end;
    font-size: 1.5em;
}

.menu-right i:hover,
.menu-right a:hover {
    text-decoration: none;
    color: var(--naranja);
}

div.bars {
    background-color: var(--azul-home);
    padding: 20px;
}

.fa-bars {
    color: white;
}

a.avatar_and_text {
    display: flex;
    align-items: center;
    gap: 8px;
}

a.avatar_and_text p {
    display: none;
    /**/
}

/* Banner con logo */

.banner {
    width: 90%;
    margin: auto;
    padding-top: 82px;
    display: flex;
    justify-content: center;
}

.banner-logo {
    width: 150px;
    padding: 40px 15px;
    text-align: center;
}

.banner-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 40px 15px;
}

.banner-text h1 {
    font-size: 40px;
    color: var(--azul-home);
}

.banner-text h2 {
    font-size: 14px;
    color: var(--azul-home);
}

/* Main */

h2.recipes {
    font-size: 2rem;
    color: var(--gris-oscuro);
}

h3 {
    color: var(--azul-home);
    text-align: center;
    padding: 30px;
    font-weight: bold;
}

main {
    width: 80%;
    margin: 0 auto;
}

.main {
    width: 80%;
    margin: 0 auto;
}

main section article h4 {
    font-size: 1.5rem;
    color: white;
}

h4 {
    padding-bottom: 8px;
}

.box-experience {
    color: white;
    background-color: var(--azul-home);
    text-align: center;
    padding: 1rem;
    border-radius: 30px;
    margin: 1rem;
    opacity: 90%;
    text-decoration: none;
}

.fa-star-of-life {
    color: var(--naranja);
    font-size: 2rem;
    text-align: center;
}

section.images {
    width: 100vw;
}

/* Productos destacados */

main section article {
    transition: transform, 600ms;
}

.featured-products {
    margin-top: 40px;
}

p.product-name {
    color: var(--naranja);
    font-size: 25px;
    font-weight: bold;
}

.recipes-description {
    margin: 24px 0;
    display: flex;
    border: solid, 4px, var(--naranja);
    flex-direction: column;
}

p.product-description {
    margin: 6px 0 20px;
    color: var(--gris-oscuro);
    font-weight: 500;
    line-height: 1.6em;
    text-align: justify;
    hyphens: auto;
}

.products article {
    width: 100%;
    margin: 40px 0;
    flex-direction: column;
    align-items: center;
}

.product-image {
    width: 100%;

    overflow: hidden;
    display: flex;
    border-radius: 30px;
    object-fit: cover;
    width: 100%;
}

.see-more,
.sumbit-container {
    width: 100px;
    background-color: var(--naranja);
    border-radius: 15px;
    padding: 9px;
    text-align: center;
    border: none;
    display: block;
    position: relative;
    user-select: none;
    overflow: hidden;

    z-index: 1;
    font-family: inherit;

    box-shadow: 0 0.4rem #dfd9d9;
    cursor: pointer;
}

.see-more p,
.sumbit-container p {
    text-align: center;
    color: white;
    text-decoration: none;
}

.see-more:active {
    color: white;
    box-shadow: 0 0.2rem #dfd9d9;
    transform: translateY(0.2rem);
}

.see-more:hover:not(:disabled) {
    background: rgb(231, 153, 64);
    color: white;
    text-shadow: 0 0.1rem #bcb4b4;
}

.see-more:disabled {
    cursor: auto;
    color: grey;
}

/* Acceder al menú */
HEAD .access-menu {
    width: 100%;
    margin: 30px 0;
    position: relative;
}

.clean {
    width: 160px;
    background-color: var(--azul-home);
    border-radius: 15px;
    padding: 9px;
    margin: auto;
}

.clean:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(131, 57, 57, 0.2);
}

.clean p {
    color: white;
    text-align: center;
}

.clean:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

HEAD .clean::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
    background-color: #a81717;
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.access-menu2 {
    width: 100%;
    margin: 30px 0;
    position: relative;
}

.clean p {
    color: white;
    text-align: center;
}

.clean::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
}

/*.clean::after {
  background-color: #4317a8;
}*/

.clean:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

/*Formulario de creación de producto/usuario*/

.product-creator {
    margin: 50px 0;
}

.container-product-creator {
    display: flex;
    flex-direction: column;
    margin: 50px 0;
    align-items: center;
}

.product-creator .title {
    display: flex;
    margin-bottom: 30px;
}

.product-creator .formulario {
    display: flex;
    margin: 30px 0;
    flex-direction: column;
}

.row-product-detail .col-12 {
    display: flex;
    flex-direction: column;
}

.form-label {
    display: flex;
    font-size: 1em;
    margin: 20px 0 8px;
    flex-direction: column;
}

.form-input {
    margin-bottom: 15px;
    font-size: 1em;
    border-radius: 8px;
    border: none;
    box-shadow: 1px 1px 4px 0px #0000003b;
    padding: 10px 15px;
}

textarea.form-input {
    min-height: 140px;
    resize: vertical;
    padding: 15px;
}

.send-button {
    color: white;
    margin-top: 10px;
    font-size: 1em;
    border-radius: 8px;
    border: none;
    padding: 10px 15px;
    background-color: var(--naranja);
}

.detail-button,
.create-button {
    margin-top: 12px;
    width: 150px;
    background-color: var(--naranja);
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.detail-button p,
.detail-button button {
    text-align: center;
    color: white;
    text-decoration: none;
    vertical-align: text-bottom;
}

.img-product-to-edit {
    margin-bottom: 20px;
    border-radius: 10px;
}

.recipes {
    text-align: center;
    font-size: 16px;
}

.create-buttom {
    display: flex;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
}

.text-danger {
    font-size: 0.8em;
    color: var(--naranja);
    margin-top: 4px;
}

/* HEAD */
.form-notification,
.form-check,
.form-check-label {
    padding: 10px 16px;
}

.form-check {
    margin: 20px 0;
}

input.form-check-input {
    margin-right: 10px;
}

/* Footer */

.foot {
    text-align: center;
    color: var(--azul-home);
    background-color: var(--crema-home);
    padding: 24px;
    font-weight: bold;
}

.fa-twitter,
.fa-instagram-square {
    margin: 0 8px;
    font-size: 2rem;
}

.icons-footer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

/* front-validate */

.is-valid {
    color: #198754;
}

.is-invalid {
    color: #842029;
}

.alert-warning {
    color: var(--azul-home);
    background-color: var(--crema-home);
    text-align: center;
    border-radius: 10px;
}

.alert-warning li {
    list-style: none;
}

@media (min-width: 480px) {
    /* Header */

    .menu {
        justify-content: space-between;
    }

    .logo_topbar {
        width: 40px;
    }

    .name {
        display: flex;
        margin-left: 12px;
        align-items: center;
    }

    .menu-left {
        display: unset;
    }

    div.bars {
        display: none;
    }

    /* Productos destacados */

    .products {
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .product-detail-view {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        column-gap: 32px;
        justify-content: center;
    }

    .products article {
        width: 40%;
    }

    .recipes-description {
        display: flex;
    }

    .clean {
        width: 150px;
    }
}

@media (min-width: 768px) {
    div.menu-right {
        margin-right: 30px;
    }

    /* Productos destacados */

    .box-experience {
        display: flex;
        gap: 30px;
        align-items: center;
        justify-content: space-evenly;
    }

    .fa-star-of-life {
        order: 1;
    }

    .box-experience h4 {
        order: 0;
    }

    .box-experience p {
        order: 2;
    }

    .products article {
        width: 282px;
    }

    .product-creator {
        max-width: 720px;
        margin: 40px auto 80px;
        flex-direction: column;
        align-items: stretch;
    }

    /* Detalle de producto */
    .product-detail-view {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start;
        column-gap: 32px;
        justify-content: center;
    }

    .product-detail-div {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .product-image {
        aspect-ratio: 1;
        overflow: hidden;
        display: flex;
        border-radius: 30px;
    }
}