:root {
    --blanco: white;
    --azul-home: #2449A8;
    --crema-home: #F8E8DA;
    --naranja: #CA841B;
}

* {
    margin: 0;
    font-family: 'Roboto Slab', serif;
    padding: auto;


}

/*body {
    height:650px;
    background-image: url(/images/fondo.jpg);
    background-size: 10rem;
   }*/

/* Menu de la página */

.menu {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: var(--crema-home);
    font-size: 20px;
    margin: auto;
}

.name {
    color: var(--azul-home);
    padding: 7px;
    font-weight: bold;

}

.name a {
    color: var(--azul-home);
    padding: 7px;

    text-decoration: none;



}

/* Los iconos de ingreso y compra no se pone en el margen superior derecho ¿?*/

body header section div.icon-menu {
    display: flex;
    justify-content: flex-end;
}

.bula {
    font-weight: bold;
}

body header div i.fas {
    font-size: 30px;
    margin: 1rem;
}

div.bars {
    background-color: var(--azul-home);
}

.fa-bars {
    color: white;
}

.fa-user-alt,
.fa-shopping-cart {
    color: var(--azul-home);
    display: flex;
    justify-content: flex-end;

}

.logo {
    text-align: center;
}

h1 {
    color: var(--azul-home);
    text-align: center;
}

h2 {
    color: var(--azul-home);
    text-align: center;
    padding: 1.5rem;
}

/* Main */


h2.recipes {
    font-size: 2rem;
    ;
    text-decoration: underline;
}

h3 {
    color: var(--azul-home);
    text-align: center;
    padding: 30px;
    font-weight: bold;
}

main section article h4 {
    font-size: 1.5rem;
    color: white;

}


h4 {
    padding: 10px;
}

.box-experience {
    color: white;
    background-color: var(--azul-home);
    text-align: center;
    padding: 2rem;
    border-radius: 30px;
    margin: auto;

}

.fa-star-of-life {
    color: var(--naranja);
    font-size: 2rem;
    text-align: center;
    ;
}

section.images {
    width: 100vw;

}

/* Seccion Productos */


.product {
    display: flex;
    align-items: center;
}

main section article section p {
    color: var(--naranja);
    font-weight: bold;
    padding: 30px;
    margin: 0;
}


/* Producto 1 */

img.image1 {
    max-width: 20rem;
    max-width: 20rem;
    border-radius: 50px;
}

img.image1 {
    padding: 30px;
}


/* Producto 2 */

img.image2 {
    max-width: 20rem;
    max-width: 20rem;
    border-radius: 50px;
    order: 1;
}

img.image2 {
    padding: 30px;

}

/* Producto 3 */

img.image3 {
    max-width: 20rem;
    max-width: 20rem;
    border-radius: 50px;
}

img.image3 {
    padding: 30px;

}

/* Producto 4 */

img.image4 {
    max-width: 20rem;
    max-width: 20rem;
    border-radius: 50px;
    order: 1;
}

img.image4 {
    padding: 30px;

}

/* Producto 5 */

img.image5 {
    max-width: 20rem;
    max-width: 20rem;
    border-radius: 50px;
}

img.image5 {
    padding: 30px;
    text-align: center;
    ;

}

.recipes-description{
    text-align: justify;
}
/* Acceder al menú */

main section article.access-menu {
    background-color: var(--azul-home);
    text-align: center;
    ;
    opacity: 90%;
    margin: 5rem;
    padding: 1rem;
    border-radius: 20px;
}

main section article.access-menu a {
    text-decoration: none;
    color: white;
}


/* Ver más */

.see-more {
    color: white;
    background-color: var(--naranja);
    text-align: center;
    border-radius: 40px;
    margin-right: 4.5rem;
    margin-left: 4.5rem;
    padding: 10px;
}

/* Footer */

.foot {
    text-align: center;
    color: var(--azul-home);
    background-color: var(--crema-home);
    padding: 10px;
}

.fa-twitter,
.fa-instagram-square {
    font-size: 2rem;
}

.icons-footer {
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.recipes {
    text-align: center;
    color: var(--azul-home);
    font-size: 16px;
    ;
}





/* Como hacer?
1) que los iconos de la barra de menu vayan del costado izquierdo? No funciona con justify-content:flex-end
2) Que la descripción del producto no se tire para un costado, mas alla de estar centrada en la caja, el texto deberia estar centrado y con text-aligns no funciona.
3) Agregar tituto del producto  y que este situado arriba de la descripción.
*/