<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Multi&display=swap' rel="stylesheet">
    <link rel="stylesheet" href="/css/404error.css">
    <title>Ba Bula | Error 404</title>
</head>

<body>
    <section class="error-message">
        <section class="error-message_container">
            <h1 class="animated bounce"> 404 Error </h1>
            <p>Página no encontrada</p>
        </section>
    </section>

    <!--Footer-->
    <%- include("partials/footer") %>
        <!--Footer-->

</body>

</html>