<footer>
    <div class="foot">
        <h1>Ba Bula</h1>
        <p>SABORES EURO-ASIÁTICOS.</p>
        <div class="icons-footer">
            <i class="fab fa-twitter"></i>
            <i class="fab fa-instagram-square"></i>
        </div>
    </div>
</footer>