<!DOCTYPE html>
<html lang="en">

<!--Head-->
<%- include("../partials/head") %>

    <body>
        <!--Header-->
        <%- include("../partials/header") %>

            <main>
                <section class="main">
                    <article class="box-experience">
                        <i class="fas fa-star-of-life"></i>
                        <h4>LA EXPERIENCIA</h4>
                        <p>Ba Bula es un experimento único donde ocurre un acercamiento de la cultura Rusa hacia el
                            paladar</p>
                    </article>


                    <section class="featured-products">
                        <h2 class="recipes">Nuestros principales platos nativos</h2>
                        <div class="products">
                            <article>
                                <img class="product-image" src="/images/borsch.jpeg" alt="product 1">
                                <section class="recipes-description">
                                    <p class="product-name">Borsch</p>
                                    <p class="product-description">Es la sopa tradicional de verduras donde la remolacha
                                        es la
                                        gran protagonista.<br>
                                        Este plato incluye cebolla, tomate, repollo, patatas y
                                        porotos. <br>
                                        La historia de este plato va ligada a
                                        la evolución de las recetas de caldos y por extensión a las sopas acompañadas
                                        por
                                        hierbas o plantas que se van añadiendo al agua para conseguir una combinación
                                        agradable
                                        y
                                        nutritiva.</p>
                                    <div class="see-more">
                                        <a href="/product">
                                            <p>Ver más</p>
                                        </a>
                                    </div>
                                </section>
                            </article>
                            <article>
                                <img class="product-image" src="/images/golupsi3.jpeg" alt="product 2">
                                <section class="recipes-description">
                                    <p class="product-name">Golupsy</p>
                                    <p class="product-description">Aparecieron en el siglo XVIII, una época en la que la
                                        gastronomía francesa
                                        empezaba a desatar pasiones en San Petersburgo. <br>
                                        El nombre de este plato viene de la
                                        costumbre francesa de cocinar palomas envueltas en hojas de repollo. Golub
                                        significa
                                        paloma
                                        en ruso. <br>
                                        Este plato es elaborado a base de hojas de repollo rellenas de carne picada y
                                        arroz, ahogados en salsa de tomates.</p>
                                    <div class="see-more">
                                        <a href="/product">
                                            <p>Ver más</p>
                                        </a>
                                    </div>
                            </article>
                            <article>
                                <img class="product-image" src="/images/pilmeni.jpeg" alt="product 3">
                                <section class="recipes-description">
                                    <p class="product-name">Pilmeni</p>
                                    <p class="product-description">También conocidos como "Capeletis", es una pasta
                                        rellena de
                                        carne con cebolla, la
                                        cual se acompaña con salsa de tomate cruda, ajo y vinagre.<br>
                                        Llegaron a Rusia con las tribus nómadas fino-ugrias.
                                        La misma palabra “pelmén” literalmente significa "oreja de masa" en la
                                        lengua fino-ugria. En realidad, tienen cierta semejanza con la forma de una
                                        oreja.
                                        Se cree que la difusión de este plato comenzó a fines del siglo XIV.</p>
                                    <div class="see-more">
                                        <a href="/product">
                                            <p>Ver más</p>
                                        </a>
                                    </div>
                            </article>
                            <article>
                                <img class="product-image" src="/images/seliodka.jpeg" alt="product 4">
                                <section class="recipes-description">
                                    <p class="product-name">Selyodka</p>
                                    <p class="product-description">Que en español significa "arenque bajo abrigo de
                                        pieles", es
                                        un plato sumamente
                                        delicioso. Consiste en una especie de pastel frío que consta de capas de
                                        pescado,
                                        patatas,
                                        zanahoria y remolacha.<br>
                                        Fue inventada a principios del signo XX en medio de la Guerra Civil.
                                        La remolacha marrón se asociaba con la bandera roja, y las papas y el arenque
                                        en aquel momento eran considerados los principales entremeses de obreros y
                                        campesinos.
                                    </p>
                                    <div class="see-more">
                                        <a href="/product">
                                            <p>Ver más</p>
                                        </a>
                                    </div>
                            </article>
                            <article>
                                <section class="product-image">
                                    <img src="/images/torta-de-miel.jpeg" alt="product 5">
                                </section>
                                <section class="recipes-description">
                                    <p class="product-name">Medovik</p>
                                    <p class="product-description"> Conocida también como "Torta de Miel", fue creada en
                                        la
                                        década de 1820 por un Chef
                                        personal
                                        del Zar ruso
                                        Alejandro I. <br>
                                        Este auténtico pastel de miel se elabora con bizcocho y un relleno de crema.
                                        Los ingredientes que se pueden encontrar en el relleno es la leche condensada
                                        cocinada
                                        durante muchas horas. Además también es habitual que contenga nueces.</p>
                                    <div class="see-more">

                                        <a href="/product">
                                            <p>Ver más</p>
                                        </a>

                                    </div>
                            </article>
                        </div>
                    </section>
                    <section class="access-menu">
                        <div class="clean">
                            <a href="/product">
                                <p>Acceder al menú</p>
                            </a>
                        </div>
                    </section>
            </main>
            <!--Footer-->
            <%- include("../partials/footer") %>
                <!--Footer-->

    </body>

</html>