<!DOCTYPE html>
<html lang="en">

<!--Head-->
<%- include("../partials/head" ,{stylesheet:"styles", title:"Formulario creación de producto"}) %>

  <body>
    <!--Header-->
    <%- include("../partials/header") %>
      <!-- /Header -->
      <main>
        <section class="product-creator">
          <div class="title">
            <h2 class="products-title">Ingresar</h2>
          </div>
          <div class="formulario">
            <form method="POST" action="/user/login">
              <div class="row-product-detail">
                <div class="col-12 col-md-6">
                  <label class="form-label">Correo electrónico:</label>
                  <input type="text" name="email" class="form-notification">
                  <% if (locals.errors && errors.email) { %>
                    <div class="text-danger">
                      <%= errors.email.msg %>
                    </div>
                    <% } %>
                </div>
                <div class="col-12 col-md-6">
                  <label class="form-label">Contraseña:</label>
                  <input type="password" name="password" class="form-notification">
                  <div class="invalid-feedback">
                  </div>
                </div>
                <div class="col-md-6 my-2">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" name="remember_user">Recordar mi usuario
                    </label>
                  </div>
                </div>
                <div class="sumbit-container">
                  <button type="submit" class="btn btn-primary">
                    <p>Loguearme</p>
                  </button>
                </div>
            </form>
          </div>
        </section>
      </main>
      <!--Footer-->
      <%- include("../partials/footer") %>
        <!--Footer-->
  </body>

</html>